*{
    margin:0px;
    padding:0;
    box-sizing: border-box;
}

.container
{
    background-image:url("https://i.pinimg.com/736x/15/57/3e/15573ebcac15e4e0af0cfe0cf5592d1c.jpg");
    background-position:right;
    background-size:cover;
    background-repeat:no-repeat;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;

    ul{
        font-family: sans-serif;
        margin-bottom:1.5rem;
        padding-top:20px;
        li{
        display:inline;
        list-style:none;
        a{
            color:white;
            margin:20px;
            text-decoration: none;
            font-weight: 500;
        }

        a:hover{
            border-bottom: 1px solid white;
        }
    }
    }

}